<!-- alternative set page -->
<!doctype html>
<html lang="en" ng-init="run();">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Alternatives Page</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/electreTriC.css"> <!-- custom styles -->

    <!-- JS -->
    <script src="libs/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="libs/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="libs/angular/angular.js" type="text/javascript"></script>
    <script src="libs/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src="libs/angular-resource/angular-resource.js" type="text/javascript"></script>
    <script src="libs/angular-ui/build/angular-ui.min.js" type="text/javascript"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
    <script src="libs/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="libs/ng-csv/build/ng-csv.min.js" type="text/javascript"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/jszip/dist/jszip.js" type="text/javascript"></script>
    <script src="libs/file-saver/FileSaver.js" type="text/javascript"></script>
    
    <!-- ANGULAR CUSTOM -->
    <script src="js/appRoutes.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/amcharts_3/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="js/amcharts_3/amcharts/serial.js" type="text/javascript"></script>
    <script src="js/amcharts_3/amcharts/plugins/export/export.js" type="text/javascript"></script>
    <script src="js/controllers/alternatives-controller.js" type="text/javascript"></script>
    <script src="js/controllers/import-controller.js" type="text/javascript"></script>
    <script src="js/controllers/export-controller.js" type="text/javascript"></script>
    <script src="js/sortable.js" type="text/javascript"></script>
</head>
<!-- sampleApp is in app.js, is to set up every controller together -->
<body ng-app="alternatives-controller" ng-controller="alternativesController">
<!-- HEADER AND NAVBAR -->
    <header>
        <nav id="navigationBar" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a id="textNav" class="navbar-brand" style="font-size:18px">MCDA Framework</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="textNav" style="font-size:18px">User: {{ username }} </a></li>
                <li><a id="textNav" href="" ng-click="projectSection();"><span class="glyphicon glyphicon-list-alt"></span> Back to Projects</a></li>
                <li><a id="textNav" href="" onclick="window.location = '/login.html'"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
        </nav>
    </header>
        <div class="col-sm-3">
            <div class="sidebar-nav">
                <div id="verticalNav" class="navbar navbar-default" role="navigation">
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul id="optionList" class="nav navbar-nav">
                        <li id="sections"><a id="aSections" href="" ng-click="changeSection('description');">Description:<br>{{ project.name }}</a></li>
                        <li id="sectionsCriteria"><a id="dataSetSections" href="" ng-click="changeSection('criterion');">Criteria Set</a></li>
                        <li id="sectionsAlternatives"><a id="dataSetSections" href="" class="active" ng-click="changeSection('alternative');">Alternative Set &<br>Performance Table</a></li>
                        <li id="sectionsConfigurations"><a id="dataSetSections" href="" ng-click="changeSection('configurations');">Decision Configurations</a></li>
                        <li id="sectionsResults"><a id="dataSetSections" href="" ng-click="changeSection('results');">Execution and Results</a></li>
                        <li><button id="buttonResults" class="btn btn-info" data-toggle="modal" data-target="#myModal">Import from CSV</a></li>
                        <li><button id="buttonResults" class="btn btn-info" data-toggle="modal" data-target="#exportModal">Export to CSV</a></li>
                    </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
        <div id="content" class="jumbotron text-center">
            <h2>Alternative Set</h2>
            <br>
            <div ng-show="submitted && myForm.$invalid" class="alert alert-danger">
              <div ng-show="myForm.name.$error.required">
                Name is required!
              </div>
            </div>
            <form name="myForm" id="alternativeTable" runat="server" novalidate>
                <div>
                    <br />
                    <table id="alternativeTbl" border="1" bordercolor="#033773" class="table table-bordered horizontal">
                        <tr>
                            <th id="altHeader2" style="width:150px">Action</th>
                            <th id="altHeader">Name</th>
                            <th id="altHeader">Description</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="Add Alternative" ng-disabled="myForm.name.$dirty && myForm.name.$invalid" ng-click="submitted=true; myForm.name.$valid && createAlternative();" class="btn btn-primary"/>
                                <!-- <input type="button" value="Update" ng-click="updateAlternative()" class="btn btn-info"/> -->
                            </td>
                            <td style="text-align:left;" id="criBody2"><input id="altInput" type="text" placeholder="Alternative name" name="name" ng-model="alternative.name" required/></td>
                            <td style="text-align:left;" id="criBody2"><input id="altInput" type="text" placeholder="Alternative description" ng-model="alternative.description"/></td>
                        </tr>
                        <tr ng-repeat="alternative in alternatives" ng-include="getTemplate(alternative)">
                            <!-- <td id="altBody">{{ alternative.name }}</td>
                            <td id="altBody">{{ alternative.description }}</td>
                            <td>
                                <input type="button" value="Edit" ng-click="editAlternative(alternative)" class="btn btn-warning"/>
                                <input type="button" value="Delete" ng-click="deleteAlternative(alternative)" class="btn btn-danger"/> 
                            </td>     --> 
                        </tr>
                    </table>
                    <script type="text/ng-template" id="display">
                        <td>
                            <input type="button" value="Edit" ng-click="editAlternative2(alternative)" class="btn btn-warning"/>
                            <input type="button" value="Delete" ng-click="deleteAlternative(alternative);" class="btn btn-danger"/> 
                        </td> 
                        <td id="altBody">{{ alternative.name }}</td>
                        <td id="altBody">{{ alternative.description }}</td>
                    </script>
                    <script type="text/ng-template" id="edit">
                        <td>
                            <input type="button" value="Save" ng-click="updateAlternative2(alternative); resetPerformanceTable();" class="btn btn-success"/>
                            <input type="button" value="Cancel" ng-click="reset()" class="btn btn-danger"/>
                        </td>
                        <td id="altBody"><input id="altInput" type="text" placeholder="Alternative name" ng-model="model.name"/></td>
                        <td id="altBody"><input id="altInput" type="text" placeholder="Alternative description" ng-model="model.description"/></td>
                    </script>
                </div>
            </form>
            <!-- <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Export to CSV <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" export-alternatives-to-csv>Export everything</a></li>
                    <li><a href="#" export-alternatives-to-csv-without-description>Export without description</a></li>
                </ul>
            </div> -->
            <br/> 
            <hr style="border:1px solid #033773">
            <h2>Performance Table</h2>
            <br/>
            <!-- <li id="explanation" style="list-style-type: none; text-align:left;">It's possible to import data for the performance table. Choose a CSV file with the data and click on the "Import values" button to import only the values or click on the "Import values and alternatives" button to import the values and alternatives.<br> The CSV file must be well strutured (correct nº of lines and columns, as well as, a header with the criteria and alternatives on the first column just like the table bellow) and with a simple name. Be careful with empty lines, they count as a row.</li>
            <input type="file" id="fileUpload"/>
            <input class="btn btn-default ng-isolate-scope" type="button" id="upload" value="Import values" onclick = "Upload()" ng-click="uploadfile()"/>
            <input class="btn btn-default ng-isolate-scope" type="button" id="upload" value="Import values and alternatives" ng-click="deleteAlternatives();"/> -->
            <div>
                <table style="display:none">
                    <tr ng-repeat="alternative in chunksCat | limitTo: chunksCat.length | orderBy: 'name' track by alternative.name">
                        <td id="criHeader">{{ alternative.name }}</td>
                        <td ng-repeat="criterion in criterions | limitTo: criterions.length | orderBy: 'name' track by criterion.name">
                            <input type="text" value="0" ng-if="performances.length === 0" ng-init="createPerformance2(alternative, criterion, alternatives.length, criterions.length);"/>{{ alternative.name }}{{ criterion.name }}
                        </td>
                    </tr> 
                </table>
                <br/>
                <table id="performanceTable" border="1" bordercolor="#033773" class="table table-bordered horizontal">
                    <tr>
                        <th id="criHeader">Alternatives\Criteria</th>
                        <th id="criHeader" ng-repeat="criterion in criterions | orderBy: 'name' track by criterion.name">{{ criterion.name }}</th>
                    </tr> 
                    <tr ng-repeat="performances in chunks | limitTo: alternatives.length | orderBy:['alternative','criterion']">
                        <td id="altBody" ng-repeat="performance in performances | orderBy:['alternative','criterion'] | limitTo: 1 ">{{ performance.alternative }}</td>
                        <td ng-repeat="performance in performances | orderBy:['alternative','criterion']">
                            <input id="performanceInput" type="text" value="{{ performance.value }}" ng-model="performance.value" ng-change="updatePerformance2(performance);"/>
                        </td>
                    </tr>
                </table>
            </div>
            <br/>
            <!-- <button export-performance-to-csv class="btn btn-default ng-isolate-scope" id="exportBtn">Export to CSV</button>  -->
        </div>
        <div id="dvCSV" style="display:none"></div>
        <div id="loading">
          <img id="loading-image" src="img/loader.gif" alt="Loading..." />
          <p id="loading-text">Loading...</p>
        </div>
        <div id="importing">
          <img id="loading-image" src="img/loader.gif" alt="Loading..." />
          <p id="loading-text">Importing...</p>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" data-backdrop="static" role="dialog" style="z-index: 3;" ng-controller="importController">
            <div class="modal-dialog" style="width:57%;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="!perfTblImported && refreshBeforeClosing(); perfTblImported && refreshPerformancesBeforeClosing(); (alternativesImported || criteriaImported) && !perfTblImported && refreshNewPerformanceBeforeClosing(); perfTblImported=false; alternativesImported=false; criteriaImported=false;">&times;</button>
                        <h4 class="modal-title">Import from CSV</h4>
                    </div>
                    <div class="modal-body" style="font-size: 16px;">
                        <p><b>Import data to:</b></p>
                        <ul class="list-group" style="list-style-type: none;">
                            <li><label for="importCri" class="lbl" style="font-weight: normal !important;">
                            <input id="importCri" type="checkbox" name="dataType" value="criteriaData" class="importRatio" style="margin-bottom: 5px;" checked><span class="lbl">
                             Criteria <input type="file" id="fileUpload"/></label></li><br>
                            <li><label for="importAlt" class="lbl" style="font-weight: normal !important;">
                            <input id="importAlt" type="checkbox" name="dataType" value="criteriaData" class="importRatio" style="margin-bottom: 5px;" checked><span class="lbl">
                             Alternatives <input type="file" id="fileUpload2"/></label></li><br>
                            <li><label for="importPer" class="lbl" style="font-weight: normal !important;">
                            <input id="importPer" type="checkbox" name="dataType" value="criteriaData" class="importRatio" style="margin-bottom: 5px;" checked><span class="lbl">
                             Performance Table <input type="file" id="fileUpload3"/></label></li><br>
                            <li><label for="importAltPer" class="lbl" style="font-weight: normal !important;">
                            <input id="importAltPer" type="checkbox" name="dataType" value="criteriaData" class="importRatio" style="margin-bottom: 5px;"><span class="lbl">
                             Alternatives and Performance Table <input type="file" id="fileUpload4"/></label></li><br>
                            <li><label for="importAltCriPer" class="lbl" style="font-weight: normal !important;">
                            <input id="importAltCriPer" type="checkbox" name="dataType" value="criteriaData" class="importRatio" style="margin-bottom: 5px;"><span class="lbl">
                             Alternatives, Criteria and Performance Table <input type="file" id="fileUpload8"/></label></li><br>
                            <li><label for="importCat" class="lbl" style="font-weight: normal !important;">
                            <input id="importCat" type="checkbox" name="dataType" value="criteriaData" class="importRatio" style="margin-bottom: 5px;" checked><span class="lbl">
                             Categories <input type="file" id="fileUpload5"/></label></li><br>
                            <li><label for="importPar" class="lbl" style="font-weight: normal !important;">
                            <input id="importPar" type="checkbox" name="dataType" value="criteriaData" class="importRatio" style="margin-bottom: 5px;" checked><span class="lbl">
                             Parameters <input type="file" id="fileUpload6"/></label></li><br>
                            <li><label for="importPro" class="lbl" style="font-weight: normal !important;">
                            <input id="importPro" type="checkbox" name="dataType" value="criteriaData" class="importRatio" style="margin-bottom: 5px;" checked><span class="lbl">
                             Profile Performance Table <input type="file" id="fileUpload7"/></label></li>
                        </ul>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Select All" ng-click="selectAll();"/>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Select None" ng-click="selectNone();"/>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Import" ng-click="importData()"/>
                        <br/><br/>
                        <p id="importMessageError" style="color:red; font-size: 16px;"></p> 
                        <p id="importMessageError1" style="color:red; font-size: 16px;"></p> 
                        <p id="importMessage1" style="color:green; display:none; font-size: 16px;"></p> 
                        <p id="importMessageError2" style="color:red; font-size: 16px;"></p> 
                        <p id="importMessage2" style="color:green; display:none; font-size: 16px;"></p> 
                        <p id="importMessageError3" style="color:red; font-size: 16px;"></p> 
                        <p id="importMessage3" style="color:green; display:none; font-size: 16px;"></p> 
                        <p id="importMessageError4" style="color:red; font-size: 16px;"></p> 
                        <p id="importMessage4" style="color:green; display:none; font-size: 16px;"></p> 
                        <p id="importMessageError5" style="color:red; font-size: 16px;"></p> 
                        <p id="importMessage5" style="color:green; display:none; font-size: 16px;"></p> 
                        <p id="importMessageError6" style="color:red; font-size: 16px;"></p> 
                        <p id="importMessage6" style="color:green; display:none; font-size: 16px;"></p> 
                        <p id="importMessageError7" style="color:red; font-size: 16px;"></p> 
                        <p id="importMessage7" style="color:green; display:none; font-size: 16px;"></p> 
                        <p id="importMessageError8" style="color:red; font-size: 16px;"></p> 
                        <p id="importMessage8" style="color:green; display:none; font-size: 16px;"></p> 
                        <!-- <div class="wrapper">
                            <p ng-show="content == 'criteriaData'">
                                <b>CSV file structure example:</b><br>Name, Description, Direction, Measure, Weight, Indifference, Preference, Veto 
                                <br>criterion name 1, test, min, ordinal, 10, 2, 4, 6<br>criterion name 2, other, max, cardinal, 1.0, 2.44, 9, 2.5<br>and so on...    
                            </p>
                            <p ng-show="content == 'alternativesData'">
                                <b>CSV file structure example:</b><br>Name, Description
                                <br>alternative name 1, water<br>alternative name 2, fire<br>and so on... 
                            </p>
                            <p ng-show="content == 'performanceData'">
                                <b>CSV file structure example:</b><br>Alternatives\Criteria, criterion name 1, criterion name 2, ...
                                <br>alternative name 1, 4, 12.4, ...<br>alternative name 2, 10, 2.99, ...<br>and so on... 
                            </p>
                            <p ng-show="content == 'altAndPerfData'">
                                <b>CSV file structure example:</b><br>Alternatives\Criteria, criterion name 1, criterion name 2, ...
                                <br>alternative name 1, 4, 12.4, ...<br>alternative name 2, 10, 2.99, ...<br>and so on... 
                            </p>
                            <p ng-show="content == 'categoriesData'">
                                <b>CSV file structure example:</b><br>Rank, Name, Reference Action
                                <br>1, category name 1, reference action name 1<br>2, category name 2, reference action name 2<br>and so on... 
                            </p>
                            <p ng-show="content == 'parametersData'">
                                <b>CSV file structure example:</b><br>Credibility Lambda
                                <br>0.85
                            </p>
                            <p ng-show="content == 'profileData'">
                                <b>CSV file structure example:</b><br>Reference Actions\Criteria, criterion name 1, criterion name 2, ...
                                <br>reference action name 1, 5.9, 21, ...<br>reference action name 2, 3.98, 3, ...<br>and so on... 
                            </p>
                        </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="!perfTblImported && refreshBeforeClosing(); perfTblImported && refreshPerformancesBeforeClosing(); (alternativesImported || criteriaImported) && !perfTblImported && refreshNewPerformanceBeforeClosing(); perfTblImported=false; alternativesImported=false; criteriaImported=false;">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Export Modal -->
        <div class="modal fade" id="exportModal" data-backdrop="static" role="dialog" style="z-index: 3;" ng-controller="exportController">
            <div class="modal-dialog" style="width:50%;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Export to CSV</h4>
                    </div>
                    <div class="modal-body" style="font-size: 16px;">
                        <p><b>Export project data:</b></p>
                        <ul class="list-group" style="list-style-type: none;">
                            <li>
                                <label for="exportCri" class="lbl" style="font-weight: normal !important;">
                                <input class="exportChoice" type="checkbox" id="exportCri" name="dataBox" checked><span class="lbl">
                                Criteria</label></li>
                            <li>
                                <label for="exportAlt" class="lbl" style="font-weight: normal !important;">
                                <input class="exportChoice" type="checkbox" id="exportAlt" name="dataBox" checked><span class="lbl">
                                Alternatives</label></li>
                            <li>
                                <label for="exportPerf" class="lbl" style="font-weight: normal !important;">
                                <input class="exportChoice" type="checkbox" id="exportPerf" name="dataBox" checked><span class="lbl">
                                Performance Table</label></li>
                            <li>
                                <label for="exportCat" class="lbl" style="font-weight: normal !important;">
                                <input class="exportChoice" type="checkbox" id="exportCat" name="dataBox" checked><span class="lbl">
                                Categories</label></li>
                            <li>
                                <label for="exportPar" class="lbl" style="font-weight: normal !important;">
                                <input class="exportChoice" type="checkbox" id="exportPar" name="dataBox" checked><span class="lbl">
                                Parameters</label></li>
                            <li>
                                <label for="exportPro" class="lbl" style="font-weight: normal !important;">
                                <input class="exportChoice" type="checkbox" id="exportPro" name="dataBox" checked><span class="lbl">
                                Profiles Performance Table</label></li>
                        </ul>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Select All" ng-click="selectAll();"/>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Select None" ng-click="selectNone();"/>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Export" export-to-csv names="project.name"/>
                        <br/><br/>
                        <p id="exportMessageError" style="color:red; font-size: 16px; display:none;"></p> 
                        <p id="exportMessage" style="color:green; display:none; font-size: 16px;"></p> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>