<!-- criterion set page -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Criteria Page</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/workspace.css"> <!-- custom styles -->

    <!-- JS -->
    <script src="libs/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="libs/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="libs/angular/angular.js" type="text/javascript"></script>
    <script src="libs/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src="libs/angular-resource/angular-resource.js" type="text/javascript"></script>
    <script src="libs/angular-ui/build/angular-ui.min.js" type="text/javascript"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
    <script src="libs/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="libs/ng-csv/build/ng-csv.min.js" type="text/javascript"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    
    <!-- ANGULAR CUSTOM -->
    <script src="js/appRoutes.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/amcharts_3/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="js/amcharts_3/amcharts/serial.js" type="text/javascript"></script>
    <script src="js/amcharts_3/amcharts/plugins/export/export.js" type="text/javascript"></script>
    <script src="js/controllers/criterions-controller.js" type="text/javascript"></script>
    <script src="js/controllers/alternatives-controller.js" type="text/javascript"></script>
    <script src="js/controllers/performances-controller.js" type="text/javascript"></script>
    <script src="js/controllers/configurations-controller.js" type="text/javascript"></script>
    <script src="js/controllers/results-controller.js" type="text/javascript"></script>
    <script src="js/controllers/mainCtrl.js" type="text/javascript"></script>
    <script src="js/sortable.js" type="text/javascript"></script>
</head>
<!-- sampleApp is in app.js, is to set up every controller together -->
<body ng-app="criterions-controller" ng-controller="criterionsController">
<!-- HEADER AND NAVBAR -->
    <header>
        <nav id="navigationBar" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a id="textNav" class="navbar-brand" style="font-size:18px">MCDA Framework</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="textNav" style="font-size:18px">User: {{ username }} </a></li>
                <li><a id="textNav" href="" ng-click="projectSection();"><span class="glyphicon glyphicon-list-alt"></span> Back to Project Set</a></li>
                <li><a id="textNav" href="" onclick="window.location = '/login.html'"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
        </nav>
    </header>
        <div class="col-sm-3">
            <div class="sidebar-nav">
                <div id="verticalNav" class="navbar navbar-default" role="navigation">
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul id="optionList" class="nav navbar-nav">
                        <li id="sections"><a id="aSections" href="" ng-click="changeSection('description');"> {{ project.name }}<br>Description</a></li>
                        <li id="sectionsCriteria"><a id="aSections" href="" class="active" ng-click="changeSection('criterion');">Criterion Set</a></li>
                        <li id="sectionsAlternatives"><a id="aSections" href="" ng-click="changeSection('alternative');">Alternative Set &<br>Performance Table</a></li>
                        <li id="sectionsConfigurations"><a id="aSections" href="" ng-click="changeSection('configurations');">Decision Configurations</a></li>
                        <li><button id="buttonDiviz" class="btn btn-success" ng-click="changeSection('divizServer');">Execute</button></li>
                        <li><button id="buttonResults" class="btn btn-primary" ng-click="changeSection('results');">Results</a></li>
                    </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
        <div id="content" class="jumbotron text-center">
            <h2>Criterion Set</h2>
            <br>
            <div ng-show="submitted && myForm.$invalid" class="alert alert-danger">
              <div ng-show="myForm.name.$error.required">
                Name is required!
              </div>
            </div>
            <form name="myForm" id="criterionTable" runat="server" novalidate>
                <div>
                    <table id="criterionTbl" border="1" bordercolor="#033773" class="table table-bordered horizontal">
                        <tr>
                            <th id="criHeader">Name</th>
                            <th id="criHeader">Description</th>
                            <th id="criHeader">Direction</th>
                            <th id="criHeader">Measure</th>
                            <th id="criHeader">Weight</th>
                            <th id="criHeader">Indifference</th>
                            <th id="criHeader">Preference</th>
                            <th id="criHeader">Veto</th>
                            <th id="criHeader2" style="width:150px">Action</th>
                        </tr>
                        <tr>
                            <td><input id="criInput" type="text" placeholder="Criterion name" name="name" ng-model="criterion.name" required/></td>
                            <td><input id="criInput" type="text" placeholder="Criterion description" ng-model="criterion.description"/></td>
                            <td>
                                <select id="criInput3" type="text" placeholder="Criterion direction" ng-model="criterion.direction">
                                    <option value="max">max</option>
                                    <option value="min">min</option>
                                </select>
                            </td>
                            <td>
                                <select id="criInput3" type="text" placeholder="Criterion measure" ng-model="criterion.measure">
                                    <option value="ordinal">Ordinal</option>
                                    <option value="cardinal">Cardinal</option>
                                </select>
                            </td>
                            <td><input id="criInput2" type="text" placeholder="Weight" ng-model="criterion.weight"/></td>
                            <td><input id="criInput2" type="text" placeholder="Indifference" ng-model="criterion.indifference"/></td>
                            <td><input id="criInput2" type="text" placeholder="Preference" ng-model="criterion.preference"/></td>
                            <td><input id="criInput2" type="text" placeholder="Veto" ng-model="criterion.veto"/></td>
                            <td>
                                <input type="button" value="Add Criterion" ng-disabled="myForm.name.$dirty && myForm.name.$invalid" ng-click="submitted=true; myForm.name.$valid && createCriterion();" class="btn btn-primary"/>
                                <!-- <input type="button" value="Update" ng-click="updateCriterion()" class="btn btn-info"/> -->
                            </td>
                        </tr>
                        <tr ng-repeat="criterion in criterions" ng-include="getTemplate(criterion)">
                            <!-- Get template -->  
                        </tr>
                    </table>
                    <script type="text/ng-template" id="display">
                        <td id="criString">{{ criterion.name }}</td>
                        <td id="criString">{{ criterion.description }}</td>
                        <td id="criBody">{{ criterion.direction }}</td>
                        <td id="criBody">{{ criterion.measure }}</td>
                        <td id="criNumber">{{ criterion.weight }}</td>
                        <td id="criNumber">{{ criterion.indifference }}</td>
                        <td id="criNumber">{{ criterion.preference }}</td>
                        <td id="criNumber">{{ criterion.veto }}</td>
                        <td>
                            <input type="button" value="Edit" ng-click="editCriterion2(criterion)" class="btn btn-warning"/>
                            <input type="button" value="Delete" ng-click="deleteCriterion(criterion)" class="btn btn-danger"/> 
                        </td>  
                    </script>
                    <script type="text/ng-template" id="edit">
                        <td><input id="criInput" type="text" placeholder="Criterion name" ng-model="model.name"/></td>
                        <td><input id="criInput" type="text" placeholder="Criterion description" ng-model="model.description"/></td>
                        <td>
                            <select id="criInput3" type="text" placeholder="Criterion direction" ng-model="model.direction">
                                <option value="max">max</option>
                                <option value="min">min</option>
                            </select>
                        </td>
                        <td>
                            <select id="criInput3" type="text" placeholder="Criterion measure" ng-model="model.measure">
                                <option value="ordinal">Ordinal</option>
                                <option value="cardinal">Cardinal</option>
                            </select>
                        </td>
                        <td><input id="criInput2" type="text" placeholder="Weight" ng-model="model.weight"/></td>
                        <td><input id="criInput2" type="text" placeholder="Indifference" ng-model="model.indifference"/></td>
                        <td><input id="criInput2" type="text" placeholder="Preference" ng-model="model.preference"/></td>
                        <td><input id="criInput2" type="text" placeholder="Veto" ng-model="model.veto"/></td>
                        <td>
                            <input type="button" value="Save" ng-click="updateCriterion2(criterion)" class="btn btn-success"/>
                            <input type="button" value="Cancel" ng-click="reset()" class="btn btn-danger"/>
                        </td>
                    </script>
                </div>
            </form> 
            <button export-criterion-to-csv class="btn btn-default ng-isolate-scope" id="exportBtn">Export to CSV</button>  
            <button export-criterion-to-csv-without-thresholds class="btn btn-default ng-isolate-scope" id="exportBtn">Export to CSV without thresholds</button> 
            <button export-criterion-to-csv-without-weight class="btn btn-default ng-isolate-scope" id="exportBtn">Export to CSV without thresholds and weight</button> 
            <br/><br/>
           <!--  <br/><br/> -->
            <!-- <button onclick="addRow();">Add White Card</button> -->
            <!-- <input style="margin:auto;" type="button" value="Add White Card" onclick="addWhiteCard();" class="btn btn-info"/>
            <br/><br/>
            <table id="sort2" style="width:50%; margin:auto;" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Rank</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng:repeat="criterion in criterionCopy | orderBy: 'rank'" class="item" style="cursor: move;">
                        <td>{{$index+1}}</td>
                        <td>{{criterion.rank}}</td>
                        <td>{{criterion.name}}</td>
                    </tr>
                </tbody>
            </table>
            <br/><br/><br/> -->
            <!-- <table id="sort2" class="grid" title="Kurt Vonnegut novels" style="margin:auto;">
                <thead>
                    <tr><th>Year</th><th>Title</th><th>Grade</th></tr>
                </thead>
                <tbody>
                    <tr><td>1969</td><td>Slaughterhouse-Five</td><td>A+</td></tr>
                    <tr><td>1952</td><td>Player Piano</td><td>B</td></tr>
                    <tr><td>1963</td><td>Cat's Cradle</td><td>A+</td></tr>
                    <tr><td>1973</td><td>Breakfast of Champions</td><td>C</td></tr>
                    <tr><td>1965</td><td>God Bless You, Mr. Rosewater</td><td>A</td></tr>
                </tbody>
            </table> -->
            <!-- <table style="width:50%; margin:auto;" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Rank</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody ui:sortable ng:model="criterionCopy">
                    <tr ng:repeat="criterion in criterionCopy | orderBy: 'rank'" class="item" style="cursor: move;">
                        <td>{{$index+1}}</td>
                        <td>{{criterion.rank}}</td>
                        <td>{{criterion.name}}</td>
                    </tr>
                </tbody>
            </table> -->
        </div>
        <div id="loading">
          <img id="loading-image" src="img/loader.gif" alt="Loading..." />
          <p id="loading-text">Executing...</p>
        </div>
    </div>
</body>
</html>    

