<!-- Data set for Order By method page example -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Data set for Order By method Page Example</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/orderBy.css"> <!-- custom styles -->

    <!-- JS -->
    <script src="libs/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="libs/angular/angular.js" type="text/javascript"></script>
    <script src="libs/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="libs/angular-resource/angular-resource.js" type="text/javascript"></script>
    <script src="libs/jszip/dist/jszip.js" type="text/javascript"></script>
    <script src="libs/file-saver/FileSaver.js" type="text/javascript"></script>
    <!-- ANGULAR CUSTOM -->
    <script src="js/appRoutes.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controllers/orderBy-controller.js" type="text/javascript"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<!-- sampleApp is in app.js, is to set up every controller together -->
<body ng-app="orderBy-controller" ng-controller="orderByController">
<!-- HEADER AND NAVBAR -->
    <header>
        <nav id="navigationBar" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a id="textNav" class="navbar-brand" style="font-size:18px">MCDA Framework</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="textNav" style="font-size:18px">User: {{ username }} </a></li>
                <li><a id="textNav" href="" ng-click="projectSection();"><span class="glyphicon glyphicon-list-alt"></span> Back to Projects</a></li>
                <li><a id="textNav" href="" onclick="window.location = '/login.html'"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
        </nav>
    </header>
        <div class="col-sm-3">
            <div class="sidebar-nav">
                <div id="verticalNav" class="navbar navbar-default" role="navigation">
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul id="optionList" class="nav navbar-nav">
                        <li id="sections"><a id="aSections" href="" ng-click="changeSection('description_orderBy');">Description:<br>{{ project.name }}</a></li>
                        <li id="sectionsData"><a id="dataSetSections" class="active" href="" ng-click="changeSection('data_orderBy');">Data Set &<br>Configurations</a></li>
                        <li id="sectionsResults"><a id="dataSetSections" href="" ng-click="changeSection('results_orderBy');">Execution and Results</a></li>
                        <li><button id="buttonResults" class="btn btn-info" data-toggle="modal" data-target="#myModal">Import Data</a></li>
                        <li><button id="buttonResults" class="btn btn-info" data-toggle="modal" data-target="#exportModal">Export Data</a></li>
                    </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
		<div id="content" class="jumbotron text-center">
            <h2>Data Set</h2>
            <br/>
            <!-- Table example -->
            <div id="createDataDiv">
                <label id="dataLambda" style="font-size:16px;">Number of attributes for the new data set: </label>
                <input id='attributeNumber' type='number' name='attributeNumber' value="1" min="1"/>
                <input type='button' value='Add New Attributes' ng-click='createDataSet()' class='btn btn-info'/>
            </div>
            <small style="font-size:14px; color:#999;">The attribute names are defined on the table below, after adding the respective number.</small>
            <br/><br/><br/>
            <table id="dataTable" class="table horizontal">
            </table>
            <table id="resultTbl" class="table horizontal" style="display:none;">
            </table>
            <br/>
            <hr style="border:1px solid #033773">
            <h2>Configurations</h2>
            <br/>
            <div>
                <label id="dataLambda" style="font-size:16px;">Choose which attribute to order :</label>
                <select class="form-control" name="repeatSelect2" id="repeatSelect2" ng-model="data2.repeatSelect2" ng-change="updateOrderAttribute(data2.repeatSelect2)" style="margin-right: 45px !important;">
                    <option ng-repeat="option in data2.availableOptions2" value="{{option.id}}">{{option.name}}</option>
                </select>
                <label id="dataLambda" style="font-size:16px;">Choose type of order :</label>
                <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect" ng-change="updateOrderType(data.repeatSelect)">
                    <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select>
            </div>
        </div>
        <div id="dvCSV" style="display:none"></div>
        <div id="loading">
          <img id="loading-image" src="img/loader.gif" alt="Loading..." />
          <p id="loading-text">Loading...</p>
        </div>
        <div id="importing">
          <img id="loading-image" src="img/loader.gif" alt="Loading..." />
          <p id="loading-text">Importing...</p>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" data-backdrop="static" role="dialog" style="z-index: 3;">
            <div class="modal-dialog" style="width:50%;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="dataUpdate()">&times;</button>
                        <h4 class="modal-title">Import from CSV</h4>
                    </div>
                    <div class="modal-body" style="font-size: 16px;">
                        <p><b>Import data to:</b></p>
                        <ul class="list-group" style="list-style-type: none;">
                            <li><label for="importDat" class="lbl" style="font-weight: normal !important;">
                            <input id="importDat" type="checkbox" name="dataType" value="infoData" class="importRatio" style="margin-bottom: 5px;" checked><span class="lbl">
                             Data <input type="file" id="fileUpload"/></label></li>
                        </ul>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Select All" ng-click="selectAllImport();"/>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Select None" ng-click="selectNoneImport();"/>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Import" ng-click="importData()"/>
                        <br/><br/>
                        <p id="importMessageError" style="color:red; font-size: 16px;"></p> 
                        <p id="importMessage" style="color:green; display:none; font-size: 16px;"></p> 
                        <!-- <p>
                            <b>CSV file structure example:</b><br>Attribute 1, Attribute 2, Attribute 3, ...
                            <br>value 1, value 2, value 3, ...<br>value x, value y, value z, ...<br>and so on...    
                        </p> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dataUpdate()">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Export Modal -->
        <div class="modal fade" id="exportModal" data-backdrop="static" role="dialog" style="z-index: 3;">
            <div class="modal-dialog" style="width:50%;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Export to CSV</h4>
                    </div>
                    <div class="modal-body" style="font-size: 16px;">
                        <p><b>Export project data:</b></p>
                        <ul class="list-group" style="list-style-type: none;">
                            <li>
                                <label for="exportData" class="lbl" style="font-weight: normal !important;">
                                <input class="exportChoice" type="checkbox" id="exportData" name="dataBox" checked><span class="lbl">
                                Data</label></li>
                        </ul>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Select All" ng-click="selectAllExport();"/>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Select None" ng-click="selectNoneExport();"/>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Export" export-to-csv names="project.name"/>
                        <br/><br/>
                        <p id="exportMessageError" style="color:red; font-size: 16px; display:none;"></p> 
                        <p id="exportMessage" style="color:green; display:none; font-size: 16px;"></p> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>