<!-- description page -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Description Page</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/electreTriC.css"> <!-- custom styles -->

    <!-- JS -->
    <script src="libs/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="libs/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="libs/angular/angular.js" type="text/javascript"></script>
    <script src="libs/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src="libs/angular-resource/angular-resource.js" type="text/javascript"></script>
    <script src="libs/angular-ui/build/angular-ui.min.js" type="text/javascript"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
    <script src="libs/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <!-- ANGULAR CUSTOM -->
    <script src="js/appRoutes.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controllers/description-controller.js" type="text/javascript"></script>
    <script src="js/controllers/import-controller.js" type="text/javascript"></script>
    <script src="js/controllers/export-controller.js" type="text/javascript"></script>
    <script src="js/sortable.js" type="text/javascript"></script>
</head>
<!-- sampleApp is in app.js, is to set up every controller together -->
<body ng-app="description-controller" ng-controller="descriptionController">
<!-- HEADER AND NAVBAR -->
    <header>
        <nav id="navigationBar" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a id="textNav" class="navbar-brand" style="font-size:18px">MCDA Framework</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="textNav" style="font-size:18px">User: {{ username }} </a></li>
                <li><a id="textNav" href="" ng-click="projectSection();"><span class="glyphicon glyphicon-list-alt"></span> Back to Projects</a></li>
                <li><a id="textNav" href="" onclick="window.location = '/login.html'"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
        </nav>
    </header>
        <div class="col-sm-3">
            <div class="sidebar-nav">
                <div id="verticalNav" class="navbar navbar-default" role="navigation">
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul id="optionList" class="nav navbar-nav">
                        <li id="sections"><a id="aSections" class="active" href="" ng-click="changeSection('description');">Description:<br>{{ project.name }}</a></li>
                        <li id="sectionsCriteria"><a id="dataSetSections" href="" ng-click="changeSection('criterion');">Criterion Set</a></li>
                        <li id="sectionsAlternatives"><a id="dataSetSections" href="" ng-click="changeSection('alternative');">Alternative Set &<br>Performance Table</a></li>
                        <li id="sectionsConfigurations"><a id="dataSetSections" href="" ng-click="changeSection('configurations');">Decision Configurations</a></li>
                        <li id="sectionsResults"><a id="dataSetSections" href="" ng-click="changeSection('results');">Execution and Results</a></li>
                        <li><button id="buttonResults" class="btn btn-info" data-toggle="modal" data-target="#myModal">Import Data</a></li>
                        <li><button id="buttonResults" class="btn btn-info" data-toggle="modal" data-target="#exportModal">Export Data</a></li>
                    </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
		<div id="content" class="jumbotron text-center">
		    <h2>Description</h2>
            <br/>
            <table id="descriptionTable" class="table table-bordered horizontal">
                <tr>
                    <th id="descriptionTd" style="width:18%">Creation Date</th>
                    <th id="descriptionTd" style="width:18%">Updated</th>
                    <th id="descriptionTd" style="width:25%">Project Name</th>
                    <th id="descriptionTd" style="width:15%">Method</th>
                    <th id="descriptionTd" style="width:24%">Notes</th>
                </tr>
                <tr>
                    <td id="descriptionTd">{{ project.creationDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td id="descriptionTd">{{ project.dateSet | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td id="descriptionTd">{{ project.name }}</td>
                    <td id="descriptionTd">{{ project.methodChosen }}</td>
                    <td id="descriptionTd">{{ project.notes }}</td>
                </tr>
            </table>
            <br/>
            <h3>The following steps are required to run the Electre Tri-C method correctly:</h3>
            <br/>
            <ol type="1" id="tutorial">
                <li id="step1">Define criteria set.
                  <ul style="list-style-type:disc">
                    <li>Mandatory set: name, direction, weight, indifference, preference and veto;</li>
                    <li>Weights can be defined: added manually or using the method "determining weights of criteria".</li>
                  </ul>
                </li>
                <li id="step2">Define alternatives set and fill the performance table.</li>
                <li id="step3">In Decision Configurations:
                  <ol type="a">
                    <li id="step5">Define categories;</li>
                    <li id="step6">Give a value for the Credibility Lambda ( λ ) between [0.5 ; 1.0];</li>
                    <li id="step7">Fill the Profiles Performance Table.</li>
                  </ol>
                </li>
            </ol>
            <br/>
            <hr style="border:1px solid #033773">
            <h3>Current Data</h3>
            <br/>
            <table id="resultTbl" class="table horizontal">
                <tr class="noBorder"> 
                    <td class="noBorder">
                        <h4 id="titleTbl2">Categories</h4>
                        <table style="background-color:white;" class=" table borderless">
                            <thead>
                                <th id="headers">Rank</th>
                                <th id="headers">Category</th>
                                <th id="headers">Ref. Action</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="category in categories | orderBy: 'rank'">
                                <td id="headers">{{ category.rank }}</td>
                                <td id="headers">{{ category.name }}</td>
                                <td id="headers">{{ category.action }}</td>
                            </tr> 
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="noBorder"> 
                    <td>
                        <h4 id="titleTbl2">Parameters</h4>
                        <table style="background-color:white;" class=" table borderless">
                            <thead>
                                <th id="headers">Credibility Lambda ( λ )</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="parameter in parameters">
                                <td id="headers">{{ parameter.credibility }}</td>
                            </tr> 
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="noBorder"> 
                    <td>
                        <h4 id="titleTbl2">Alternatives</h4>
                        <table style="background-color:white;" class=" table borderless">
                            <thead>
                                <th id="headers">Alternative</th>
                                <th id="headers">Description</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="alternative in alternatives | orderBy: 'name'">
                                <td id="headers">{{ alternative.name }}</td>
                                <td id="headers">{{ alternative.description }}</td>
                            </tr> 
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="noBorder">
                    <td>
                        <h4 id="titleTbl2">Criteria</h4>
                        <table style="background-color:white;" class=" table borderless">
                            <thead>
                                <th id="headers">Criterion</th>
                                <th id="headers">Description</th>
                                <th id="headers">Direction</th>
                                <th id="headers">Measure</th>
                                <th id="headers">Weight</th>
                                <th id="headers">Indifference</th>
                                <th id="headers">Preference</th>
                                <th id="headers">Veto</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="criterion in criteria | orderBy: 'weight'">
                                <td id="headers">{{ criterion.name }}</td>
                                <td id="headers">{{ criterion.description }}</td>
                                <td id="headers">{{ criterion.direction }}</td>
                                <td id="headers">{{ criterion.measure }}</td>
                                <td id="headers">{{ criterion.weight }}</td>
                                <td id="headers">{{ criterion.indifference }}</td>
                                <td id="headers">{{ criterion.preference }}</td>
                                <td id="headers">{{ criterion.veto }}</td>
                            </tr> 
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="noBorder">
                    <td>
                        <h4 id="titleTbl2">Performance Table</h4>
                        <table style="background-color:white;" class=" table borderless">
                            <thead>
                                <th id="headers">Alternative</th>
                                <th id="headers">Criterion</th>
                                <th id="headers">Value</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="performance in performancetables | orderBy: 'alternative'">
                                <td id="headers">{{ performance.alternative }}</td>
                                <td id="headers">{{ performance.criterion }}</td>
                                <td id="headers">{{ performance.value }}</td>
                            </tr> 
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="noBorder">
                    <td>
                        <h4 id="titleTbl2">Profiles Performance Table</h4>
                        <table style="background-color:white;" class=" table borderless">
                            <thead>
                                <th id="headers">Reference Action</th>
                                <th id="headers">Criterion</th>
                                <th id="headers">Value</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="profile in profiletables | orderBy: 'action'">
                                <td id="headers">{{ profile.action }}</td>
                                <td id="headers">{{ profile.criterion }}</td>
                                <td id="headers">{{ profile.value }}</td>
                            </tr> 
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
		</div>
        <div id="dvCSV" style="display:none"></div>
        <div id="loading">
          <img id="loading-image" src="img/loader.gif" alt="Loading..." />
          <p id="loading-text">Loading...</p>
        </div>
        <div id="importing">
          <img id="loading-image" src="img/loader.gif" alt="Loading..." />
          <p id="loading-text">Importing...</p>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" data-backdrop="static" role="dialog" style="z-index: 3;" ng-controller="importController">
            <div class="modal-dialog" style="width:50%;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="refreshBeforeClosing();">&times;</button>
                        <h4 class="modal-title">Import from CSV</h4>
                    </div>
                    <div class="modal-body" style="font-size: 16px;">
                        <p><b>Import data to:</b></p>
                        <form>
                            <input type="radio" ng-model="content" name="dataType" value="criteriaData" class="importRatio" style="margin-bottom: 5px;"> Criteria<br>
                            <input type="radio" ng-model="content" name="dataType" value="alternativesData" class="importRatio" style="margin-bottom: 5px;"> Alternatives<br>
                            <input type="radio" ng-model="content" name="dataType" value="performanceData" class="importRatio" style="margin-bottom: 5px;"> Performance Table<br>
                            <input type="radio" ng-model="content" name="dataType" value="altAndPerfData" class="importRatio" style="margin-bottom: 5px;"> Alternatives and Performance Table<br>
                            <input type="radio" ng-model="content" name="dataType" value="categoriesData" class="importRatio" style="margin-bottom: 5px;"> Categories<br>
                            <input type="radio" ng-model="content" name="dataType" value="parametersData" class="importRatio" style="margin-bottom: 5px;"> Parameters<br>
                            <input type="radio" ng-model="content" name="dataType" value="profileData" class="importRatio" style="margin-bottom: 5px;"> Profile Performance Table
                        </form>
                        <input type="file" id="fileUpload"/>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="upload" value="Import" ng-click="importData()"/>
                        <p id="importMessageError" style="color:red; font-size: 16px;"></p> 
                        <p id="importMessage" style="color:green; display:none; font-size: 16px;"></p> 
                        <div class="wrapper">
                            <p ng-show="content == 'criteriaData'">
                                <b>CSV file structure example:</b><br>Name, Description, Direction, Measure, Weight, Indifference, Preference, Veto 
                                <br>criterion name 1, test, min, ordinal, 10, 2, 4, 6<br>criterion name 2, other, max, cardinal, 1.0, 2.44, 9, 2.5<br>and so on...    
                            </p>
                            <p ng-show="content == 'alternativesData'">
                                <b>CSV file structure example:</b><br>Name, Description
                                <br>alternative name 1, water<br>alternative name 2, fire<br>and so on... 
                            </p>
                            <p ng-show="content == 'performanceData'">
                                <b>CSV file structure example:</b><br>Alternatives\Criteria, criterion name 1, criterion name 2, ...
                                <br>alternative name 1, 4, 12.4, ...<br>alternative name 2, 10, 2.99, ...<br>and so on... 
                            </p>
                            <p ng-show="content == 'altAndPerfData'">
                                <b>CSV file structure example:</b><br>Alternatives\Criteria, criterion name 1, criterion name 2, ...
                                <br>alternative name 1, 4, 12.4, ...<br>alternative name 2, 10, 2.99, ...<br>and so on... 
                            </p>
                            <p ng-show="content == 'categoriesData'">
                                <b>CSV file structure example:</b><br>Rank, Name, Reference Action
                                <br>1, category name 1, reference action name 1<br>2, category name 2, reference action name 2<br>and so on... 
                            </p>
                            <p ng-show="content == 'parametersData'">
                                <b>CSV file structure example:</b><br>Credibility Lambda
                                <br>0.85
                            </p>
                            <p ng-show="content == 'profileData'">
                                <b>CSV file structure example:</b><br>Reference Actions\Criteria, criterion name 1, criterion name 2, ...
                                <br>reference action name 1, 5.9, 21, ...<br>reference action name 2, 3.98, 3, ...<br>and so on... 
                            </p>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refreshBeforeClosing();">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Export Modal -->
        <div class="modal fade" id="exportModal" data-backdrop="static" role="dialog" style="z-index: 3;" ng-controller="exportController">
            <div class="modal-dialog" style="width:50%;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Export to CSV</h4>
                    </div>
                    <div class="modal-body" style="font-size: 16px;">
                        <p><b>Export project data:</b></p>
                        <ul class="list-group" style="list-style-type: none;">
                            <li>
                                <label for="exportCri" class="lbl" style="font-weight: normal !important;">
                                <input class="exportChoice" type="checkbox" id="exportCri" name="dataBox" checked><span class="lbl">
                                Criteria</label></li>
                            <li>
                                <label for="exportAlt" class="lbl" style="font-weight: normal !important;">
                                <input class="exportChoice" type="checkbox" id="exportAlt" name="dataBox" checked><span class="lbl">
                                Alternatives</label></li>
                            <li>
                                <label for="exportPerf" class="lbl" style="font-weight: normal !important;">
                                <input class="exportChoice" type="checkbox" id="exportPerf" name="dataBox" checked><span class="lbl">
                                Performance Table</label></li>
                            <li>
                                <label for="exportCat" class="lbl" style="font-weight: normal !important;">
                                <input class="exportChoice" type="checkbox" id="exportCat" name="dataBox" checked><span class="lbl">
                                Categories</label></li>
                            <li>
                                <label for="exportPar" class="lbl" style="font-weight: normal !important;">
                                <input class="exportChoice" type="checkbox" id="exportPar" name="dataBox" checked><span class="lbl">
                                Parameters</label></li>
                            <li>
                                <label for="exportPro" class="lbl" style="font-weight: normal !important;">
                                <input class="exportChoice" type="checkbox" id="exportPro" name="dataBox" checked><span class="lbl">
                                Profiles Performance Table</label></li>
                        </ul>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Select All" ng-click="selectAll();"/>
                        <input class="btn btn-default ng-isolate-scope" type="button" id="exportCSV" value="Export" export-to-csv/>
                        <br/><br/>
                        <p id="exportMessageError" style="color:red; font-size: 16px; display:none;"></p> 
                        <p id="exportMessage" style="color:green; display:none; font-size: 16px;"></p> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>