<!-- description page example -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Description Page Example</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/example.css"> <!-- custom styles -->

    <!-- JS -->
    <script src="libs/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="libs/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="libs/angular/angular.js" type="text/javascript"></script>
    <script src="libs/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src="libs/angular-resource/angular-resource.js" type="text/javascript"></script>
    <script src="libs/angular-ui/build/angular-ui.min.js" type="text/javascript"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
    <script src="libs/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <!-- ANGULAR CUSTOM -->
    <script src="js/appRoutes.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controllers/example-controller.js" type="text/javascript"></script>
    <script src="js/sortable.js" type="text/javascript"></script>
</head>
<!-- sampleApp is in app.js, is to set up every controller together -->
<body ng-app="example-controller" ng-controller="exampleController">
<!-- HEADER AND NAVBAR -->
    <header>
        <nav id="navigationBar" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a id="textNav" class="navbar-brand" style="font-size:18px">MCDA Framework</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="textNav" style="font-size:18px">User: {{ username }} </a></li>
                <li><a id="textNav" href="" ng-click="projectSection();"><span class="glyphicon glyphicon-list-alt"></span> Back to Project Set</a></li>
                <li><a id="textNav" href="" onclick="window.location = '/login.html'"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
        </nav>
    </header>
        <div class="col-sm-3">
            <div class="sidebar-nav">
                <div id="verticalNav" class="navbar navbar-default" role="navigation">
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul id="optionList" class="nav navbar-nav">
                        <li id="sections"><a id="aSections" class="active" href="" ng-click="changeSection('example_description');"> {{ project.name }}<br>Description</a></li>
                        <li id="sectionsData"><a id="aSections" href="" ng-click="changeSection('example_data_set');">Data Set</a></li>
                        <li><button id="buttonDiviz" class="btn btn-success" ng-click="changeSection('example_execute');">Execute</button></li>
                        <li><button id="buttonResults" class="btn btn-primary" ng-click="changeSection('example_results');">Results</a></li>
                    </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
		<div id="content" class="jumbotron text-center">
		    <h2>Description</h2>
            <br/>
            <table id="descriptionTable" class="table table-bordered horizontal">
                <tr>
                    <th id="descriptionTd" style="width:30%">Project Name</th>
                    <th id="descriptionTd" style="width:24%">Method</th>
                    <th id="descriptionTd" style="width:23%">Creation Date</th>
                    <th id="descriptionTd" style="width:23%">Updated</th>
                </tr>
                <tr>
                    <td id="descriptionTd">{{ project.name }}</td>
                    <td id="descriptionTd">{{ project.methodChosen }}</td>
                    <td id="descriptionTd">{{ project.creationDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td id="descriptionTd">{{ project.dateSet | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                </tr>
            </table>
            <br/>
            <h3>The following steps are required to run the "Method Name" method correctly:</h3>
            <br/>
            <ol type="1" id="tutorial">
                <li id="step1">Describe Step 1:
                  <ul style="list-style-type:disc">
                    <li>Instructions...</li>
                    <li>Instructions...</li>
                  </ul>
                </li>
                <li id="step2">Describe Step 2.</li>
                <li id="step3">In Step 3:
                  <ol type="a">
                    <li id="step5">Instructions...</li>
                    <li id="step6">Instructions...</li>
                    <li id="step7">Instructions...</li>
                  </ol>
                </li>
            </ol>
            <br/>
            <hr style="border:1px solid #033773">
            <h3>Current Data</h3>
            <br/>
            <!-- Insert here all current data (data needed to execute the method), for the user to see all the data at once -->
            <table id="resultTbl" class="table horizontal">
                <tr class="noBorder"> 
                    <td class="noBorder">
                        <h4 id="titleTbl">Data 1</h4>
                        <!-- <table style="background-color:white;" class=" table borderless">
                            <thead>
                                <th id="headers">Category</th>
                                <th id="headers">Rank</th>
                                <th id="headers">Ref. Action</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="category in categories">
                                <td id="headers">{{ category.name }}</td>
                                <td id="headers">{{ category.rank }}</td>
                                <td id="headers">{{ category.action }}</td>
                            </tr> 
                            </tbody>
                        </table> -->
                    </td>
                    <td>
                        <h4 id="titleTbl">Data 2</h4>
                       <!--  <table style="background-color:white;" class=" table borderless">
                            <thead>
                                <th id="headers">Alternative</th>
                                <th id="headers">Description</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="alternative in alternatives">
                                <td id="headers">{{ alternative.name }}</td>
                                <td id="headers">{{ alternative.description }}</td>
                            </tr> 
                            </tbody>
                        </table> -->
                    </td>
                </tr>
            </table>
		</div>
        <div id="loading">
          <img id="loading-image" src="img/loader.gif" alt="Loading..." />
          <p id="loading-text">Executing...</p>
        </div>
        <div id="importing">
          <img id="loading-image" src="img/loader.gif" alt="Loading..." />
          <p id="loading-text">Importing...</p>
        </div>
    </div>   
</body>
</html>