/* Workspace style css */

#main{ 
	padding-top: 60px; 
}

#homeNav{
    margin-left: 25%;
}

#navigationBar{
    background-color: #033773;  
    border: none;
    border-radius: 0px;  
    position: fixed;  
    width: 100%;
    padding: 1px;
    z-index: 3;
}

#textNav{
    color: #ffffff;
    font-size: 16px;
}

#textNav:hover{
    color: #000000;
    font-size: 16px;
}

#textNav2{
    color: #ffffff;
    font-size: 16px;
}

#textNav2:hover{
    color: #000000;
    font-size: 16px;
}

#content{
    text-align: center;
    width: 83%;
    float: right;
    padding-top: 0px;
    background-color: #ffffff;
}

/* sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 768px){
    .col-sm-3 {
        width: 20%;
        padding-left: 0px;
    }
}

#verticalNav{
  background-color: #eee;
  border-radius: 0px;
  height: 100%;
  position: fixed;
  margin-top: 52px;
  border: none;
  font-size: 16px;
  width: 17%;
}

#sections:hover,
#sectionsCriteria:hover,
#sectionsAlternatives:hover,
#sectionsPerformances:hover,
#sectionsConfigurations:hover,
#sectionsResults:hover{
    background-color: #b3b3b3;
}     

#sections,
#sectionsCriteria,
#sectionsAlternatives,
#sectionsPerformances,
#sectionsConfigurations,
#sectionsResults{
    margin-bottom: 5px;
}

#dataSetSections{
    color: #333333;
}

#dataSetSections:hover{
    color: #ffffff;
}

#aSections{
  background-color: #b3b3b3;
  color: #333333;
}

#aSections:hover{
  background-color: #b3b3b3;
  color: #ffffff;
}

#aSections.active{
    border: 5px solid #033773;
    color: #fff;
}

#dataSetSections.active{
    border: 5px solid #033773;
    color: #fff;
}

.sectionActive{
    background-color: #033773;
    color: #fff !important;
}

#exportBtn,
#exportBtn1,
#exportBtn2,
#exportBtn3,
#exportProfileBtn,
#exportBtnWeight,
#exportBtnWeight2,
#exportBtnWeight3,
#saveBtn,
#saveBtn2,
#saveBtn3{
    margin: 5px;
    margin-top: 15px;
    text-align: center;
    margin-bottom: -18px;
}

#exportBtnAll,
#compareBtn{
    margin: 5px;
    text-align: center;
    margin-bottom: -18px;
}

#buttonDiviz,
#buttonResults{
    width: 90%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: table;
    margin: 5px auto;
}

/* Description sections */
#descriptionTable{
  margin: auto;
  text-align: left;
  width: 97%;
}

#descriptionTd{
    font-size: 17px;  
    text-align: left;
    padding-left: 0;
}

#tutorial{
    text-align: left;
    margin: 0px 150px;
    font-size: 17px;
}

#tutorial li{
  margin-bottom: 5px;
}

#step1,
#step2,
#step3{
    font-weight: bold;
}

#step1 ul,
#step1 ol,
#step3 ul,
#step3 ol{
    font-weight: normal;
}

/* Criterion section */
#criterionTable,
#categoryTable{
  margin: auto;
  text-align: center;
  width: 99%;
}

#criLabel{
  font-size: 18px; 
}

#criInput{
  text-align: center; 
  vertical-align: text-top; 
}

#criInput2{
  width: 100%;
  text-align: center; 
  vertical-align: text-top; 
}

#criInput3{
    text-align: center;  
    width: 100%;
    height: 10%;
    font-size: 16px;
    vertical-align: text-top;
}

#criWeight{
  cursor: pointer;
  text-align: center;  
  font-size: 18px;  
  color: #337ab7;
}

#criWeight:visited {
  cursor: pointer;
  text-align: center;  
  font-size: 18px;  
  color: #275d8b;
  background-color: transparent;
  text-decoration: none;
}

#criWeight:hover {
  cursor: pointer;
  text-align: center;  
  font-size: 18px;  
  color: #275d8b;
  background-color: transparent;
  text-decoration: underline;
}

#criWeight:active {
  cursor: pointer;
  text-align: center;  
  font-size: 18px;  
  color: #275d8b;
  background-color: transparent;
  text-decoration: underline;
}

#criHeader{
    text-align: center;  
    font-size: 18px;  
}

#criHeader2{
    text-align: center;   
    font-size: 18px;   
}

#criHeader3{
    text-align: left;   
    font-size: 18px;   
}

#criBody{
    text-align: center;  
    font-size: 15px;  
    padding-left: 10px;  
    vertical-align: middle;
}

#criBody2{
    text-align: left;  
    font-size: 15px;  
    padding-left: 10px;  
    vertical-align: middle;
}

#criBody3{
    text-align: center;  
    font-size: 15px;  
    vertical-align: middle;
    width: 100%;
}

#criString{
    text-align: left;  
    font-size: 15px;  
    padding-left: 10px;  
    vertical-align: middle;
}

#criNumber{
    text-align: right;  
    font-size: 15px;  
    padding-left: 10px;  
    vertical-align: middle;
}

/* Alternative section */
#alternativeTable{
    margin: auto;
    text-align: center;
    width: 99%;
}

#altLabel{
    font-size: 18px;  
}

#altInput{
    vertical-align: text-top;
    padding-right: 80px;
    padding-left: 80px;
    text-align: center;  
}

#altHeader{
    text-align: left;  
    font-size: 18px;  
}

#altHeader2{
    text-align: center;   
    font-size: 18px;   
}

#altBody{
    text-align: left;  
    font-size: 15px;  
    padding-left: 10px;  
    vertical-align: middle;
}

.table.table-bordered.horizontal,
.table.table-bordered.horizontal td,
.table.table-bordered.horizontal th{
  border-left: 0px solid white !important;
  border-right: 0px solid white !important;
}


/* Performance table section */
#performanceTable,
#profileTable,
#resultsTable{
    margin: auto;
    text-align: center;
    width: 99%;
}

#explanation{
    width: 85%;
    font-size: 16px;
    text-align: center;
    margin: auto;
}

#weightTbl,
#weightTbl2,
#weightTbl3{
  margin: auto;
  text-align: center;
  width: 70%; 
  margin-top: 25px;
  margin-bottom: 10px;
}

#fileUpload,
#fileUpload2,
#fileUpload3,
#fileUpload4,
#fileUpload5,
#fileUpload6,
#fileUpload7,
#fileUpload8{
    display: inline;
    margin-top: 20px;
    /*margin-bottom: 35px;*/
    margin-right: 30px;
    /*vertical-align: middle;*/
    text-align: center;
    font-size: 16px;
}

#exportCSV{
    display: inline;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
}

#performanceInput,
#profileInput{
  width: 50%;
  text-align: center;
  font-size: 18px;
}

/* Decision Configuration section */
#configHeader{
    text-align: center;  
    font-size: 16px;  
}

#configHeader2{
    text-align: center;  
    font-size: 18px;  
}

#configHeader3{
    text-align: center;  
    font-size: 18px; 
    font-weight: bold;
    border: 3px solid #eee;
}

#configBody{
    text-align: center;  
    font-size: 15px;  
    padding-left: 10px;  
    vertical-align: middle;
}

#methodsTable{
    text-align: left;
    margin: auto;
    padding: 5px;
    width: 80%;
}

#selectionTitle{
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
    padding-top: 1px;
}

#selectLabel{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400 !important;
    font-size: 16px;
}

#ratioLabel{
    text-align: left; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px; 
    font-weight: 500 !important; 
    margin-top: 2px;
    margin-bottom: 10px;
}

/* Determining Weights method */
#rankingTable{
  text-align: center;
  width: 90%;
  margin: auto;
 /*   border-collapse:separate;
    border: solid #033773 5px;
    border-radius: 25px;*/
}

#rankingTable tr td{
  margin: auto;
  vertical-align: top;
}

#whiteCardRow{
  vertical-align: top;
  padding-top: 20px;
}

#error,
#errorCompare{
  color: red;
  margin: auto;
  padding-bottom: 20px;
}

#updateMsg{
  color: green;
  margin: auto;
  padding-bottom: 20px;
}

#configRatio{
    margin-right: 35px;
    margin-left: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;  
/*    width: 15%;*/
    height: 20%;
    font-size: 16px;
}

#ratioTitle{
    font-size: 18px;
    font-weight: bold;
}

#ratioOptions{
    font-size: 18px;
    text-align: left;
}

#rankInput{
    width: 45%;
    text-align: center;  
}

#ratioZIntervalResult{
    text-align: center;
    width: 8%;
    font-size: 18px;
    vertical-align: middle;
}

#ratioZ1,
#ratioZ2,
#ratioZ3,
#ratioZ,
#ratioZIntervalMin,
#ratioZIntervalMax{
    text-align: center;
    width: 7%;
    font-size: 18px;
    vertical-align: middle;
}

#getRandomN{
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 18px;
    margin-left: 10px;
}

#decimalBtn{
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 18px;
    margin: 5px;
}

#nDecimals{
    margin: 10px;
    display: inline;
    background: #FFF;
    color: #000;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    text-align: center;
    font-size: 18px;
}

.item, .placeholder {
    padding: 2px;
    width: 50px;
    height: 20px;
    border: 1px solid #333;
    background: #EEE;
}
.placeholder {
    background: #AEF;
}

/* draggable targets */
[data-draggable="target"]
{
    /*float: left; */
    list-style-type:none;
    
    width:95%;
    overflow-y:auto;
    
    margin-top: 15px;
   /* margin-right: auto;*/
    margin-bottom: 15px;
    margin-left: 50px;
    /*margin:0 0.5em 0.5em 0;*/
    padding: 3px;
    
    border:2px solid #888;
    border-radius:0.2em;
    
    background:#ddd;
    color:#555;

    font-size: 18px;
    font-weight: bold;
    display: flex;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]
{
    border-color:#68b;

    background:#fff;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
    outline:none;
    
    box-shadow:0 0 0 1px #fff, 0 0 0 3px #68b;
}

/* draggable items */
[data-draggable="item"]
{
    display:block;
    list-style-type:none;
    
    margin:0 0 2px 0;
    padding:0.2em 0.4em;
    
    border-radius:0.2em;
    
    line-height:1.3;
}

/* items focus state */
[data-draggable="item"]:focus
{
    outline:none;
    
    box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
    background:#8ad;
    color:#fff;
}

#whiteSection{ 
  list-style-type:none;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  text-align: center;
  font-size: 18px;
  width:95%;
  overflow-y:auto;
  padding: 3px;
  display: flex;
/*    height: 50px;
    display: block;*/
}

#card{
    border: 1px solid;
    border-color: #000;
    background-color: #fff;
    color: #000;
    margin-left: 5px;
    width: 10%;
    height: 50px;
    margin-top: 10px;
    display: inline-table;
}

#cardCriterion{
    border: 1px solid;
    border-color: #000;
    background-color: #000;
    color: #fff;
    width: 15%;
    height: 50px;
    display: inline-table;
    margin-left: 5px;
}

#instructionsSection{
/*    float:right; */ 
    text-align: left;   
/*    margin-right: 100px;
    margin-bottom: 20px;*/
    font-size: 18px;
    list-style-type: none;
}

#stepOne{
  /* text-align: left; */  
}

#steptwo{
    font-size: 18px;
    list-style-type: none; 
    text-align: left;  
    margin-left: 40px;
    margin-bottom: 15px;   
}

#importance{
    font-size: 18px;
    font-weight: bold;
    margin-top: 18px;
    text-align: left;
}

#executeWeightsBtn{
    font-size: 18px;
    text-align: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

#compareButton{
    font-size: 18px;
    text-align: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    margin-left: 30px;
}

#auxTbl,
#auxTbl2,
#auxTbl3,
#auxTbl4,
#auxTbl5,
#auxTbl6,
#compareTable{
    width: 90%;
    margin: auto;
    text-align: center;
}

#chartCriterion,
#chartRank,
#chartCriterion2,
#chartRank2,
#chartCriterion3,
#chartRank3{
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 25px;
}

#compareOptionsTable{
    width: 50%;
    margin: auto;
}

.amcharts-export-menu{
/*    margin: 5px;*/
}

.amcharts-export-menu ul{
    list-style-type: none;
}

.amcharts-export-menu  ul li{
    display: inline;
    text-align: center;
}

.amcharts-export-menu  ul li a{
    margin: 5px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
 
.amcharts-export-menu  ul li a:hover {
    margin: 5px;
    margin-bottom: 10px;
    color: #333;
    background-color: #e6e6e6;
    border-color: #ccc;
    text-decoration: none;
}

#showRatio,
#showRatio2,
#showRatio3{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 25px;
    font-weight: bold; 
}

#note{
    margin-right: 35px;
}

/* HOVER STYLES */
div#helpInfo{
  display: none;
  position: fixed;
  width: 83%;
  padding-left: 5px;
  padding-right: 5px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  margin: auto;
  text-align: center;
  z-index: 2;
}

div#pop-up-help-rank{
  display: none;
  position: absolute;
  width: 35%;
  padding-left: 5px;
  padding-right: 5px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
}

div#pop-up-help-ratioZ{
  display: none;
  position: absolute;
  width: 40%;
  padding-left: 5px;
  padding-right: 5px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
}

div#pop-up-help-interval{
  display: none;
  position: absolute;
  width: 38%;
  padding-left: 5px;
  padding-right: 5px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
}

div#pop-up-help-whiteCard{
  display: none;
  position: absolute;
  width: 53%;
  padding-left: 5px;
  padding-right: 5px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
}

div#pop-up-help-values{
  display: none;
  position: absolute;
  width: 30%;
  padding-left: 5px;
  padding-right: 5px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
}

div#pop-up-help-decimals{
  display: none;
  position: absolute;
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
}

#pop-up-header{
      font-size: 16px;
}

#pop-up-content{
      font-size: 14px;
      padding-top: 0px;
}

.ratioZZ{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    box-sizing: content-box ;
    width: 30px;
    height: 30px;
    transition: all .3s linear;
    vertical-align: bottom;
    margin-right: 10px;
    border:2px solid #555;
}

.ratioZZ:checked{
  background-color: green;
}

.ratioZZ:focus{
  outline: 0 none;
  box-shadow: none;
}

.radio {
  position: relative;
  float: left;
  clear: left;
  display: block;
  padding-left: 30px;
  margin-bottom: 12px;
  line-height: 22px;
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
.radio:before {
  background: #fff;
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 22px;
  height: 21px;
  border: 1px solid #bbb;

  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;

  box-shadow: inset 0 0 3px 0 #ccc;
  -moz-box-shadow: inset 0 0 3px 0 #ccc;
  -webkit-box-shadow: inset 0 0 3px 0 #ccc;
}

input[type="radio"] {
  display: none;
} 
input[type="radio"]:checked + label:before {
  content: "\2022";
  text-align: center;
  line-height: 15px;
  font-family: Tahoma;
  font-size: 44px;
  color: #00a0db;
  text-shadow: 0 0 4px #bbb;
}

input[name="ratio"]{
    text-align: center;  
}

#addBtn,
#getRandomN1{
    padding-top: 3px;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-left: 15px;
    font-size: 18px;
    margin-left: 5px;
    vertical-align: middle;
}

#minusBtn,
#getRandomN2{
    padding-top: 3px;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-left: 15px;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
}

#compareWeightMethod{
  text-align: center;
  width: 85%;
  float: right;
  padding-top: 5px;
  background-color: #ffffff;
}

/* Electre Tri-C method */
#credibilityLambda{
  font-size: 18px;
  margin: auto;
  padding: 5px;
}

#credibilityInput{
  font-size: 18px;
  text-align: center;
  width: 10%;
  margin: auto;  
}

/* Result section */
#resultName,
#resultNotes{
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-size: 16px;
}

#methodErrorMessage{
  text-align: left;  
  font-size: 16px; 
  width: 99%; 
  margin: 6px;
  font-family: Arial,sans-serif;
}

#headers{
  text-align: left;  
  font-size: 16px;  
}

#headers2{
  text-align: right;  
  font-size: 16px;  
}

#resultTbl{
  margin: auto;
  width: 99%;
}

#titleTbl{
  padding: 0px;
  margin: 5px;
  text-align: left;
}

#titleTbl2{
  padding: 0px;
  margin: 5px;
  text-align: center;
}

#titleTbl3{
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  padding-left: 0;
}

#titleTbl4{
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

tr.noBorder td{
  border: 0; 
}

.noBorder{
  border: 0; 
}
/*
.ratioZZ{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    box-sizing: content-box ;
    width: 30px;
    height: 30px;
    transition: all .3s linear;
    vertical-align: bottom;
    margin-right: 10px;
    border:2px solid #555;
}*/

.exportChoice{
  padding: 10px !important;
}

#loading,
#importing, 
#executing{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.9;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: fixed;
  width: 20%;
  height: 40%;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#loading-text {
  font-size:18px; 
  font-weight: bold;
  font-family: Helvetica,Arial,sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* Importing/Executing gif must be in front of everything, even the import/export section*/
.modal-backdrop.in{
  z-index: 2 !important;
}

.importRatio{
  display: inline !important;
}