/* Order by style css */

#main{ 
	padding-top: 60px; 
}

#homeNav{
    margin-left: 25%;
}

#navigationBar{
    background-color: #033773;  
    border: none;
    border-radius: 0px;  
    position: fixed;  
    width: 100%;
    padding: 1px;
    z-index: 2;
}

#textNav{
    color: #ffffff;
    font-size: 16px;
}

#textNav:hover{
    color: #000000;
    font-size: 16px;
}

#textNav2{
    color: #ffffff;
    font-size: 16px;
}

#textNav2:hover{
    color: #000000;
    font-size: 16px;
}

#content{
    text-align: center;
    width: 83%;
    float: right;
    padding-top: 0px;
    background-color: #ffffff;
}

/* sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 768px){
    .col-sm-3 {
        width: 20%;
        padding-left: 0px;
    }
}

#verticalNav{
  background-color: #eee;
  border-radius: 0px;
  height: 100%;
  position: fixed;
  margin-top: 52px;
  border: none;
  font-size: 16px;
  width: 17%;
}

#sections:hover,
#sectionsData:hover,
#sectionsResults:hover{
    background-color: #b3b3b3;
}     

#sections,
#sectionsData,
#sectionsResults{
    margin-bottom: 5px;
}

#dataSetSections{
    color: #333333;
}

#dataSetSections:hover{
    color: #ffffff;
}

#aSections{
  background-color: #b3b3b3;
  color: #333333;
}

#aSections:hover{
  background-color: #b3b3b3;
  color: #ffffff;
}

#aSections.active{
    border: 5px solid #033773;
    color: #fff;
}

#dataSetSections.active{
    border: 5px solid #033773;
    color: #fff;
}

.sectionActive{
    background-color: #033773;
    color: #fff !important;
}

#exportBtn,
#saveBtn{
    margin: 5px;
    margin-top: 15px;
    text-align: center;
    margin-bottom: -18px;
}

#exportBtnAll,
#compareBtn{
    margin: 5px;
    text-align: center;
    margin-bottom: -18px;
}

#buttonDiviz,
#buttonResults{
    width: 90%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: table;
    margin: 5px auto;
}

/* Description sections */
#descriptionTable{
  margin: auto;
  text-align: left;
  width: 90%;
}

#descriptionTd{
    font-size: 17px;  
    vertical-align: left;
}

#tutorial{
    text-align: left;
    margin: 0px 150px;
    font-size: 17px;
}

#tutorial li{
  margin-bottom: 5px;
}

#step1,
#step2,
#step3{
    font-weight: bold;
}

#step1 ul,
#step1 ol,
#step3 ul,
#step3 ol{
    font-weight: normal;
}

/* Data set section */
#repeatSelect,
#repeatSelect2{
  display: inline-table;
  width: 20%;
  margin: auto;
  text-align: center;
}

#dataTable{
  margin: auto;
  text-align: center;
  width: 99%;
}

#dataLabel{
  font-size: 18px; 
}

#dataInput{
  text-align: center; 
  vertical-align: text-top; 
}

#dataInput2{
  width: 100%;
  text-align: center; 
  vertical-align: text-top; 
}

#dataInput3{
    text-align: center;  
    width: 100%;
    height: 10%;
    font-size: 16px;
    vertical-align: text-top;
}

#attributeNumber{
  width: 10%;
  text-align: center; 
  vertical-align: middle;
  margin-right: 10px; 
}

#dataLinkMethod{
  cursor: pointer;
  text-align: center;  
  font-size: 18px;  
  color: #337ab7;
}

#dataLinkMethod:visited {
  cursor: pointer;
  text-align: center;  
  font-size: 18px;  
  color: #275d8b;
  background-color: transparent;
  text-decoration: none;
}

#dataLinkMethod:hover {
  cursor: pointer;
  text-align: center;  
  font-size: 18px;  
  color: #275d8b;
  background-color: transparent;
  text-decoration: underline;
}

#dataLinkMethod:active {
  cursor: pointer;
  text-align: center;  
  font-size: 18px;  
  color: #275d8b;
  background-color: transparent;
  text-decoration: underline;
}

#dataHeader{
  text-align: center;  
  font-size: 18px; 
  font-weight: bold; 
}

#dataHeader2{
    text-align: right;   
    font-size: 18px;   
    font-weight: bold;
}

#dataHeader3{
  text-align: left;   
  font-size: 18px;   
  font-weight: bold;
}

#dataBody{
    text-align: center;  
    font-size: 15px;  
    padding-left: 10px;  
    vertical-align: middle;
}

#dataBody2{
    text-align: left;  
    font-size: 15px;  
    padding-left: 10px;  
    vertical-align: middle;
}

#dataBody3{
    text-align: center;  
    font-size: 15px;  
    vertical-align: middle;
    width: 100%;
}

#dataString{
    text-align: left;  
    font-size: 15px;  
    padding-left: 10px;  
    vertical-align: middle;
}

#dataNumber{
    text-align: right;  
    font-size: 15px;  
    padding-left: 10px;  
    vertical-align: middle;
}

.table.table-bordered.horizontal,
.table.table-bordered.horizontal td,
.table.table-bordered.horizontal th{
  border-left: 0px solid white !important;
  border-right: 0px solid white !important;
}

#explanation{
    width: 85%;
    font-size: 16px;
    text-align: center;
    margin: auto;
}

#dataTbl{
  margin: auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

#fileUpload,
#upload{
    display: inline;
    margin-top: 20px;
    margin-bottom: 35px;
    margin-right: 30px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
}

#selectionTitle{
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
    padding-top: 1px;
}

#selectLabel{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400 !important;
    font-size: 16px;
}

#ratioLabel{
    text-align: left; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px; 
    font-weight: 500 !important; 
    margin-top: 2px;
    margin-bottom: 10px;
}

#error,
#errorCompare{
  color: red;
  margin: auto;
  padding-bottom: 20px;
}

#updateMsg{
  color: green;
  margin: auto;
  padding-bottom: 20px;
}

#configRatio{
    margin-right: 35px;
    margin-left: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;  
    height: 20%;
    font-size: 16px;
}

#ratioTitle{
    font-size: 18px;
    font-weight: bold;
}

#ratioOptions{
    font-size: 18px;
    text-align: left;
}

#decimalBtn{
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 18px;
    margin: 5px;
}

/* For drag/drop functions */
.item, .placeholder {
    padding: 2px;
    width: 50px;
    height: 20px;
    border: 1px solid #333;
    background: #EEE;
}

.placeholder {
    background: #AEF;
}

/* draggable targets */
[data-draggable="target"]
{
    /*float: left; */
    list-style-type:none;
    
    width:95%;
    overflow-y:auto;
    
    margin-top: 15px;
   /* margin-right: auto;*/
    margin-bottom: 15px;
    margin-left: 50px;
    /*margin:0 0.5em 0.5em 0;*/
    padding: 3px;
    
    border:2px solid #888;
    border-radius:0.2em;
    
    background:#ddd;
    color:#555;

    font-size: 18px;
    font-weight: bold;
    display: flex;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]
{
    border-color:#68b;

    background:#fff;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
    outline:none;
    
    box-shadow:0 0 0 1px #fff, 0 0 0 3px #68b;
}

/* draggable items */
[data-draggable="item"]
{
    display:block;
    list-style-type:none;
    
    margin:0 0 2px 0;
    padding:0.2em 0.4em;
    
    border-radius:0.2em;
    
    line-height:1.3;
}

/* items focus state */
[data-draggable="item"]:focus
{
    outline:none;
    
    box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
    background:#8ad;
    color:#fff;
}

/* Charts for amcharts_3 */
.amcharts-export-menu{
/*    margin: 5px;*/
}

.amcharts-export-menu ul{
    list-style-type: none;
}

.amcharts-export-menu  ul li{
    display: inline;
    text-align: center;
}

.amcharts-export-menu  ul li a{
    margin: 5px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
 
.amcharts-export-menu  ul li a:hover {
    margin: 5px;
    margin-bottom: 10px;
    color: #333;
    background-color: #e6e6e6;
    border-color: #ccc;
    text-decoration: none;
}

/* Examples of pop-ups used */
div#helpInfo{
  display: none;
  position: fixed;
  width: 84%;
  padding-left: 5px;
  padding-right: 5px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  margin: auto;
  text-align: center;
  z-index: 2;
}

div#pop-up-help-rank{
  display: none;
  position: absolute;
  width: 35%;
  padding-left: 5px;
  padding-right: 5px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
}

#pop-up-header{
      font-size: 16px;
}

#pop-up-content{
      font-size: 14px;
      padding-top: 0px;
}

/* Checkboxes */
.ratioZZ{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    box-sizing: content-box ;
    width: 30px;
    height: 30px;
    transition: all .3s linear;
    vertical-align: bottom;
    margin-right: 10px;
    border:2px solid #555;
}

.ratioZZ:checked{
  background-color: green;
}

.ratioZZ:focus{
  outline: 0 none;
  box-shadow: none;
}

.radio {
  position: relative;
  float: left;
  clear: left;
  display: block;
  padding-left: 30px;
  margin-bottom: 12px;
  line-height: 22px;
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

.radio:before {
  background: #fff;
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 22px;
  height: 21px;
  border: 1px solid #bbb;

  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;

  box-shadow: inset 0 0 3px 0 #ccc;
  -moz-box-shadow: inset 0 0 3px 0 #ccc;
  -webkit-box-shadow: inset 0 0 3px 0 #ccc;
}

input[type="radio"] {
  display: none;
} 

input[type="radio"]:checked + label:before {
  content: "\2022";
  text-align: center;
  line-height: 15px;
  font-family: Tahoma;
  font-size: 44px;
  color: #00a0db;
  text-shadow: 0 0 4px #bbb;
}

input[name="ratio"]{
    text-align: center;  
}

/* Add/minus buttons that have an input between */
#addBtn{
    padding-top: 3px;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-left: 15px;
    font-size: 18px;
    margin-left: 5px;
    vertical-align: middle;
}

#minusBtn{
    padding-top: 3px;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-left: 15px;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
}

/* Execute section */
#resultsTable{
    margin: auto;
    text-align: center;
    width: 80%;
}

#explanation{
    width: 80%;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

#errorMessage,
#errorMessage2{
    width: 80%;
    font-size: 18px;
    text-align: center;
    margin: auto;
    color: red;
}

#labelResult{
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Result section */
#resultName,
#resultNotes{
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-size: 16px;
}

#methodErrorMessage{
  text-align: left;  
  font-size: 16px; 
  width: 99%; 
  margin: 6px;
  font-family: Arial,sans-serif;
}

#headers{
  text-align: left;  
  font-size: 16px;  
}

#resultTbl,
#resultTbl2,
#resultTblx{
  margin: auto;
  width: 99%;
}

#titleTbl{
  padding: 0px;
  margin: 5px;
  width: 20%;
  text-align: left;
}

#titleTbl2{
  padding: 0px;
  margin: 5px;
  text-align: center;
}

#titleTbl3{
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
}

tr.noBorder td{
  border: 0; 
}

.noBorder{
  border: 0; 
}

.exportChoice{
  padding: 10px !important;
}

/* Loading/importing gif for loader aspects */
#loading,
#importing,
#executing {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.9;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: fixed;
  width: 20%;
  height: 40%;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#loading-text {
  font-size:18px; 
  font-weight: bold;
  font-family: Helvetica,Arial,sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* Importing/Executing gif must be in front of everything, even the import/export section*/
.modal-backdrop.in{
  z-index: 2 !important;
}

.importRatio{
  display: inline !important;
}