/* Workspace style css */

#main{ 
	padding-top: 60px; 
}

#homeNav{
    margin-left: 25%;
}

#navigationBar{
    background-color: #033773;  
    border: none;
    border-radius: 0px;  
    position: fixed;  
    width: 100%;
    padding: 1px;
}

#textNav{
    color: #ffffff;
    font-size: 16px;
}

#textNav:hover{
    color: #000000;
    font-size: 16px;
}

#content{
    text-align: center;
    width: 85%;
    float: right;
    padding-top: 5px;
    background-color: #ffffff;
}

/* sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 768px){
    .col-sm-3 {
        width: 20%;
        padding-left: 0px;
    }
}

#verticalNav{
    background-color: #eee;
    border-radius: 0px;
    height: 100%;
    position: fixed;
    margin-top: 52px;
    border: none;
    font-size: 16px;
}

#sections:hover{
    background-color: #033773;
}

#aSections{
    color: #333333;
}

#aSections:hover{
    color: #ffffff;
}

#exportBtn{
    margin: 5px;
    margin-top: 10px;
    text-align: center;
}


/* Criterion section */
.item, .placeholder {
    padding: 2px;
    width: 50px;
    height: 20px;
    border: 1px solid #333;
    background: #EEE;
}
.placeholder {
    background: #AEF;
}

#criterionTable{
    margin: auto;
    text-align: center;
    width: 90%;
}

#criLabel{
    font-size: 18px; 
    margin-right: 5px;
}

#criInput{
    margin-right: 25px;
    padding-right: 80px;
    padding-left: 80px;
    text-align: center;  
}

#criInput2{
    margin-right: 35px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;  
}

#criInput3{
    margin-right: 35px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;  
    width: 10%;
    height: 10%;
    font-size: 16px;
}

#criHeader{
    text-align: center;  
    font-size: 18px;  
}

#criHeader2{
    text-align: center;   
    font-size: 18px;   
}

#criBody{
    text-align: center;  
    font-size: 15px;  
    padding-left: 10px;  
    vertical-align: middle;
}


/* Alternative section */
#alternativeTable{
    margin: auto;
    text-align: center;
    width: 90%;
}

#altLabel{
    font-size: 18px;  
    margin-right: 5px; 
}

#altInput{
    margin-right: 20px;
    padding-right: 80px;
    padding-left: 80px;
    text-align: center;  
}

#altHeader{
    text-align: left;  
    font-size: 18px;  
}

#altHeader2{
    text-align: center;   
    font-size: 18px;   
}

#altBody{
    text-align: left;  
    font-size: 15px;  
    padding-left: 10px;  
    vertical-align: middle;
}

.table.table-bordered.horizontal,
.table.table-bordered.horizontal td,
.table.table-bordered.horizontal th{
  border-left: 0px solid white !important;
  border-right: 0px solid white !important;
}


/* Performance table section */
#performanceTable{
    margin: auto;
    text-align: center;
    width: 90%;
}

#fileUpload,
#upload{
    display: inline;
    margin-top: 20px;
    margin-bottom: 35px;
    margin-right: 30px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
}


/* Decision Configuration section */
#rankTable{
    margin: auto;
    text-align: center;
    width: 90%;
}

#configHeader{
    text-align: center;  
    font-size: 18px;  
}

#configBody{
    text-align: center;  
    font-size: 15px;  
    padding-left: 10px;  
    vertical-align: middle;
}

#configMethod{
    margin-right: 35px;
    margin-left: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;  
    width: 20%;
    height: 20%;
    font-size: 16px;
}

#selectLabel{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400 !important;
    font-size: 16px;
}

#rankInput{
    width: 45%;
    text-align: center;  
}

#ratioZ{
    text-align: center;
    width: 8%;
    height: 36px;
    margin-right: 40px;
}

#ratioW{
    margin: 10px;
    background: #FFF;
    color: #000;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    width: 8%;
    text-align: center;
    text-indent: 5px;
}
