<!-- public/views/about.html -->

<div id="content" class="jumbotron text-center">
    <h2>Create and manage your own decision in a project <br>using MCDA methods and other functionalities.</h2>
    <br>
    <br>
    <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="./img/decision_making.png" alt="Generic placeholder image" width="145" height="147">
          <h3>MCDA methods and more.</h3>
          <p>Use and experience the decision making methods in your project and more.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="./img/online_service.png" alt="Generic placeholder image" width="150" height="150">
          <h3>Online service</h3>
          <p>Use the framework everywhere you want.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="./img/manage_project.png" alt="Generic placeholder image" width="150" height="150">
          <h3>Manage your own project.</h3>
          <p>Create and continue your project with the help of the methods.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>