<!-- public/views/login.html -->

<div id="content" class="jumbotron text-center" ng-controller="loginController">
    <h1>Login</h1>
    <br>
    <form>
        <input id="loginForm" type="text" placeholder="username" ng-model="username" required/><br>
        <input id="loginForm" type="password" placeholder="password" ng-model="password" required/><br>
        <input id="btnSubmit" type="submit" placeholder="login!" ng-click="submit()" value="Login"/>
        <a id="account" href="/register">Create account</a>
    </form>
    <br>
    <p id="loginError">{{errorMessage}}</p>
</div>
