/* Workspace style css */

#main{ 
	padding-top: 100px; 
}

#homeNav{
    margin-left: 25%;
}

#navigationBar{
    background-color: #033773;  
    border: none;
    border-radius: 0px;  
    position: fixed;  
    width: 100%;
    padding: 1px;
}

#textNav{
    color: #ffffff;
    font-size: 16px;
}

#content{
    height: 548px;
    margin: auto;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
}
