<!-- alternative set page -->

<div id="content" class="jumbotron text-center">
    <h2>Alternative Set</h2>
    <br>
    <form id="alternativeTable" runat="server">
        <div>
            <label id="altLabel">Name</label>
            <input id="altInput" type="text" placeholder="Alternative name" ng-model="alternative.name"/>
            <label id="altLabel">Description</label>
            <input id="altInput" type="text" placeholder="Alternative description" ng-model="alternative.description"/>
            <input type="button" value="Save" ng-click="createAlternative()" class="btn btn-primary"/>
            <input type="button" value="Update" ng-click="updateAlternative()" class="btn btn-info"/>
            <br />
            <br />
            <table border="1" bordercolor="#033773" class="table table-bordered horizontal">
                <tr>
                    <th id="altHeader">Name</th>
                    <th id="altHeader">Description</th>
                    <th id="altHeader2" style="width:150px">Action</th>
                </tr>
                <tr ng-repeat="alternative in alternatives">
                    <td id="altBody">{{ alternative.name }}</td>
                    <td id="altBody">{{ alternative.description }}</td>
                    <td>
                        <input type="button" value="Edit" ng-click="editAlternative(alternative)" class="btn btn-warning"/>
                        <input type="button" value="Delete" ng-click="deleteAlternative(alternative)" class="btn btn-danger"/>  
                </tr>
            </table>
        </div>
    </form>
</div>