<!-- decision configurations page -->

<div id="content" class="jumbotron text-center">
    <h2>Decision Configurations</h2>
    <br />
    <label id="selectLabel" for="configMethod">Select method to configure and execute:</label>
    <select id="configMethod" ng-model="configMethodName">
      <option value="Determining weights of criteria">Determining weights of criteria</option>
      <option value="Electre Tri-C">Electre Tri-C</option>
    </select>
    <br/>
    <br/>
    <h3>{{configMethodName}}</h3>
    <br/>
    <div id="weightMethod" ng-show="configMethodName == 'Determining weights of criteria'">
    	<form id="rankTable" runat="server">
		    <table border="1" bordercolor="#033773" class="table table-bordered horizontal" id="rankTbl">
		        <tr>
		        	<th id="configHeader"><a href="" ng-click="orderByField='rank'; reverseSort = !reverseSort">Rank</a></th>
		            <th id="configHeader"><a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Name</a></th>
		            <th id="configHeader">Description</th>
		            <th id="configHeader">Direction</th>
		            <th id="configHeader">Measure</th>
		        </tr>
		        <tr ng-repeat="criterion in criterions | orderBy:orderByField:reverseSort">
		        	<td id="configBody"><input id="rankInput" type="number" min="1" max="100" ng-model="criterion.rank"/></td>
		            <td id="configBody">{{ criterion.name }}</td>
		            <td id="configBody">{{ criterion.description }}</td>
		            <td id="configBody">{{ criterion.direction }}</td>
		            <td id="configBody">{{ criterion.measure }}</td>
		        </tr>
		    </table>
		</form>
		<br/>
		<h3>
		Ratio z = <input id="ratioZ" type="number" step="any" min="0" value="0"></input>
        W = <select name="ratioW" id="ratioW">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    	</h3>
    	<small id="note">Note: decimal numbers are allowed using dot ('.').</small>
    </div>
    <div id="electreTriCMethod" ng-show="configMethodName == 'Electre Tri-C'">
    	<!-- TODO -->
    </div>
</div>